@import "tailwindcss";

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}

.dark ::-webkit-scrollbar-thumb {
    background: #4b5563;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #374151;
}

.stat-card {
    @apply bg-gray-100 dark:bg-gray-900
    rounded-xl p-5 border border-gray-200/40 dark:border-gray-700/40
    shadow-sm transition-all duration-100 cursor-default
    hover:shadow-md hover:bg-gray-200 dark:hover:bg-gray-800;
}